.post-section {
    margin: 50px 0;
    display: block;
    box-sizing: border-box;
}
.postList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post {
    flex: 0 0 48%;
    max-width: 48%;
    margin: 20px 0;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 6px 10px #e9e9e9;
    box-sizing: border-box;
}
.post .title {
    margin: 0 0 15px 0;
}
.post .author {
    font-style: italic;
}
.single-post {
    flex: 0 0 100%;
    max-width: 100%;
}